<p>template-form works!</p>
<form name="myForm" #temp="ngForm" (ngSubmit)="onsubmitData (temp)">
   <div class="form-group">
    <label for="firstName">First Name</label>
        <input type="text" name="fname" class="form-control"   #fname="ngModel" ngModel>
   </div>
   <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" name="lname" class="form-control" #lname="ngModel" ngModel>
   </div>
   <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" class="form-control" #email="ngModel" ngModel>
   </div>
   <div class="form-group">
    <label for="gender">Gender</label>
    <input type="radio" name="gender" class="radio" value="male" #male="ngModel" ngModel>
    <label for="male">Male</label>
    <input type="radio" name="gender" class="radio" value="female" #female="ngModel" ngModel>
    <label for ="female">Female</label>
   </div>
   <div class="form-group">
  <label for="course">Course:</label>  
  <select  name="course" class="form-control" #course="ngModel" ngModel>
    <option *ngFor=" let cor of courses">{{cor}}</option>
  </select>
  </div>
  <div class="form-group">
    <label for="pasword">Password</label>
    <input type="password"  name=pass class="form-control" #password="ngModel" ngModel>
  </div>
  <div class="form-group">
    <label for="confirmpassword">confirm password</label>
    <input type="password" name=cpass class="form-control" #confrimpassword="ngModel" ngModel> 
</div>
<div class="form-group">
    <button type="submit" class="btn btn-info">Submit</button>
</div>
</form>

<div *ngIf="showFlag">
<table class="table table-primary">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>course</th>
    <th>Gender</th>
    <th>Password</th>
    <th>Confirm Password</th>
  </tr>
  <tr *ngFor="let dt of newData">
    <td>{{dt.fname}}</td>
        <td>{{dt.lname}}</td>
        <td>{{dt.email}}</td>
        <td>{{dt.course}}</td>
        <td>{{dt.gender}}</td>
        <td>{{dt.pass}}</td>
        <td>{{dt.cpass}}</td>
  </tr>
</table>

</div>